{% extends 'base.html.twig' %}

{% block title %} List of Task {% endblock %}

{% block body %}

    <ul >

        {% for task in taskList %}
            <li class="task-list">
                {{ task.name }} -
                <a class="delete" href="{{ path('app_task_delete', { id: task.id }) }}">
                    <span class="material-symbols-outlined">delete</span>
                </a>

                <a class="update" href="{{ path('app_task_update', task.id) }}">
                    <span class="material-symbols-outlined">edit</span>
                </a>

            </li>

        {% endfor %}
    </ul>

{% endblock %}