<ul>
        <?php phpinfo()  ?>
    {% for task in taskList %}
        <li>
                {{ task.id }} =>
                {{ task.name }} -
                <a href="{{ path('main_del_task', {
                        id: task.id
                }) }}">
                        del
                </a>
        </li>

    {% endfor %}
</ul>